.age-chart-container {
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

#chartdiv {
    width: 100%;
    height: 100%;
}

.age-title {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
}

.age-title-h1 {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-top: 4px;
}

/* DARKMODE */
[data-theme="dark"] {
    --background-color: #131416;
    --text-color: #ffffff;
    --card-background-color: #2C2D30;
}

[data-theme="dark"] .age-title-h1 {
    color: var(--text-color);
}

