.blood-chart-container {
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

#chartdiv {
    width: 100%;
    height: 100%;
}

.amcharts-grid-line {
    stroke: #FFFFFF;
    stroke-opacity: 0.5;
}

.amcharts-column {
    fill: #ADF777;
    stroke: #ADF777;
    stroke-opacity: 0;
}

.amcharts-label,
.amcharts-tooltip {
    fill: #000;
}

.amcharts-axis-label {
    fill: #FFFFFF;
}

.goldar-title {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
}

.goldar-title-h1 {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-top: 4px;
}

/* DARKMODE */
[data-theme="dark"] {
    --background-color: #131416;
    --text-color: #ffffff;
    --card-background-color: #2C2D30;
}

[data-theme="dark"] .goldar-title-h1 {
    color: var(--text-color);
}