.forgot-password-form-section {
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.forgot-password-form-container {
    width: 70%;
    height: 80%;
    max-height: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.forgot-password-card {
    flex: 1;
    border-radius: 10px;
    margin: 1rem;
    padding: 2rem;
    opacity: 0;
    box-sizing: border-box;
    max-height: 100%;
    overflow: auto;
    animation: slideInLeft 1s ease-in-out forwards;
    animation-delay: 0.5s;
}

.forgot-password-card::-webkit-scrollbar {
    width: 5px;
    /* Lebar scrollbar */
}

.forgot-password-card::-webkit-scrollbar-track {
    background: #dedede;
    /* Warna track scrollbar */
    border-radius: 10px;
}

.forgot-password-card::-webkit-scrollbar-thumb {
    background: #B477D9;
    /* Warna thumb scrollbar */
    border-radius: 10px;
}

.forgot-password-card::-webkit-scrollbar-thumb:hover {
    background: #995fbd;
    /* Warna thumb scrollbar saat hover */
}

.forgot-password-card .logo {
    width: 40%;
    margin-left: -30px;
    margin-bottom: 20px;
}

.forgot-password-card h1 {
    margin-top: 0.75rem;
    font-size: 30px;
    font-weight: 700;
}

.forgot-password-card p {
    margin-bottom: 20px;
    font-weight: 300;
}

.forgot-password-card form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.forgot-password-card label {
    margin-bottom: 5px;
    font-weight: 500;
}

.forgot-password-card input {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #dedede;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.forgot-password-card input::placeholder {
    color: #B3B3B3;
}

.forgot-password-card input:focus {
    border-color: #B477D9;
    outline: none;
    box-shadow: 0 0 8px #B477D980;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
    color: #B477D9;
}

.password-container input {
    flex: 1;
    padding-right: 40px;
    font-size: 14px;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-80%);
    cursor: pointer;
}

.forgot-password-card button {
    padding: 10px;
    background-color: #B477D9;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s;
}

.forgot-password-card button:hover {
    background-color: #995fbd;
}

.back-to-login-page {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.back-to-login-page a {
    color: #9752c2;
}
.back-to-login-page a:hover {
    color: #9752c2;
    text-decoration: underline;
}

.forgot-password-illustration {
    flex: 1;
    background-color: #B477D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #fff;
    border-radius: 10px;
    opacity: 0;
    animation: slideInRight 1s ease-in-out forwards;
    animation-delay: 0.5s;
    width: 100%;
    height: 100%;
}

.forgot-password-form-illustration {
    margin-top: -30px;
    width: 350px;
    height: auto;
}

.forgot-password-illustration p {
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.forgot-password-ellipse-blur {
    position: absolute;
    border-radius: 50%;
    background: #9752c2;
    filter: blur(150px);
    opacity: 0.7;
    z-index: 0;
}

.forgot-password-ellipse-blur:nth-child(1) {
    width: 400px;
    height: 400px;
    top: -150px;
    right: -150px;
    animation: moveEllipse1 5s infinite alternate;
}

.forgot-password-ellipse-blur:nth-child(2) {
    width: 400px;
    height: 400px;
    bottom: -150px;
    left: -150px;
    animation: moveEllipse2 5s infinite alternate;
}

/* Styling untuk elemen select */
.forgot-password-card select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    margin-bottom: 15px;
    border: 1px solid #dedede;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

.forgot-password-card select.has-content {
    color: #000;
}

.forgot-password-card select:focus {
    outline: none;
    box-shadow: 0 0 5px #B477D980;
    border: 1px solid #B477D9;
}


@keyframes moveEllipse1 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(20px, 20px);
    }
}

@keyframes moveEllipse2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-20px, -20px);
    }
}

@keyframes slideInLeft {
    from { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes slideInRight {
    from { transform: translateX(100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

[data-theme="dark"] {
    --background-color: #131416;
    --text-color: #ffffff;
    --card-background-color: #2C2D30;
}

[data-theme="dark"] .forgot-password-form-section {
    background-color: var(--background-color);
}


