.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1000;
    opacity: 0;
    animation: popupFadeIn 0.3s forwards;
  }
  
  .popup .check-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
  }
  
  .popup p {
    text-align: center;
    font-size: 16px;
    color: #333;
  }
  
  @keyframes popupFadeIn {
    from {
      opacity: 0;
      transform: translate(-50%, -60%);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
  